{:deps {org.clojure/clojurescript
        {:mvn/version "1.10.891"}
        com.bhauman/figwheel-main {:mvn/version "0.2.14"}}
 :paths ["src" "target" "resource"]
 :aliases
  {:dev {:main-opts ["-m" "figwheel.main"
                     "-b" "dev"
                     "-r"]}}}
